@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-selection {
    background: lime;
    color: #333;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #800000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b80303;
}

::-webkit-scrollbar-track:hover {
    background: #ffe000;
    border-radius: 10px;
}

body,
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

td input:focus {
    outline: 2px solid #ff0000;
    outline-offset: 2px;
}

th {
    font-family: "Poppins", sans-serif;
    color: #333;
}

header .header {
    font-family: "Cinzel", serif;
    color: #800000;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.table-responsive {
    max-height: 70vh;
    overflow-y: auto;
}

table thead th {
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, white, transparent);
    z-index: 1;
}

.link {
    text-decoration: none;
}
